@import "reset.css";
@import "https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css";

@font-face {
  font-family: Medium;
  src: url(../assets/fonts/HelveticaNeue-Medium-11.woff) format("woff");
}

@font-face {
  font-family: Windsor;
  src: url(../assets/fonts/WindsorBT-Roman.woff) format("woff");
}

html {
  overflow-y: hidden;
}


@media screen and (max-width: 480px) {

.show {
  margin-top: 100vh;
  opacity: 0;
  transition: all ease 1s;
}

.hide {
  margin-top: -100vh;
}

#slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  vertical-align: center;
  overflow: scroll;
  /* top: 14vh; */
  transition: all ease 1s;
  padding-bottom: 1.5vh;
}

#slide2 {
  width: 100vw;

}

.konzept {
  margin: auto;
  width: 95vw;
}


p{
  font-family: Medium;
  color: white;
  font-size: 5.5vw;
  text-align: center;
  line-height: 110%;
}

h1{
  font-family: Windsor;
  color: white;
  font-size: 7vw;
  line-height: 105%;
}

a{
  color: white;
}

a:hover {
  color: blue;
}

#viewer {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
}

#navbar {
  display: none;
}

#info {
  z-index: 100;
  position: absolute;
  bottom: 1.5vh;
  width: 100vw;
  overflow: hidden;
  opacity: 100;
  transition: all ease 0.5s;
}

#info.active {
  z-index: 100;
  position: absolute;
  bottom: 1.5vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  transition: all ease 0.5s;
}


.hauab {
  opacity: 0;
}


.psv-navbar {
  display: none; 
}

.psv-loader {
  display: none;
}

#button {
  top: 1.5vh;
  position: fixed;
  display: block;
  margin-left: 50vw;
  z-index: 10;
  background-color: #0000ff;
  color: white;
  transform: translate(-50%, 0);
  border-radius: 25vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  opacity: 100%;
}

#button.active {
  top: 1.5vh;
  position: fixed;
  display: block;
  margin-left: 50vw;
  z-index: 10;
  background-color: #ff5100;
  color: white;
  transform: translate(-50%, 0);
  border-radius: 25vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  opacity: 100%;
}

#button:hover{
  background-color: white;
  color: blue;
  border: 1px solid white;
  transform: translate(-50%, 0);
  cursor: crosshair;
}

#button:hover p{
  color: blue;
}



}

@media screen and (min-width: 480px) {
  .show {
    visibility: hidden;
  }
  
  #slide {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    mix-blend-mode: multiply;
  }
  
  .konzept {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }
  
  
  p{
    font-family: Medium;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    line-height: 110%;
  }
  
  h1{
    font-family: Windsor;
    color: #ff5100;
    font-size: 3vw;
    text-align: center;
    line-height: 110%;
  }
  
  a{
    color: white;
  }
  
  a:hover{
    color: blue;
  }
  
  #viewer {
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
  }
  
  #navbar {
    display: none;
  }
  
  #info {
    z-index: 100;
    position: fixed;
    bottom: 1em;
    width: 100vw;
  }
  
  .psv-navbar {
    display: none; 
  }
  
  .psv-loader {
    display: none;
  }
  
  #button {
    top: 1.5vh;
    position: fixed;
    display: block;
    margin-left: 50vw;
    z-index: 10;
    background-color: #0000ff;
    transform: translate(-50%, 0);
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    opacity: 100%;
  }
  
  #button:hover{
    background-color: white;
    color: blue;
    border: 1px solid white;
    transform: scale(1.1);
    transform: translate(-50%, 0);
    transition: all 4ms;
    cursor: crosshair;
  }
  
  #button:hover p{
    color: blue;
  }
  
  }


