@import "reset.css";
@import "https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css";

@font-face {
  font-family: Medium;
  src: url(../assets/fonts/HelveticaNeue-Medium-11.woff) format("woff");
}

@font-face {
  font-family: Windsor;
  src: url(../assets/fonts/WindsorBT-Roman.woff) format("woff");
}

html {
  overflow: hidden;
}


@media screen and (max-width: 480px) {

.show {
  margin-top: 100dvh;
  opacity: 0;
  transition: all ease 0.5s;
}

.hide {
  margin-top: -100dvh;
}

#slide {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  vertical-align: center;
  overflow: scroll;
  padding-top: 14vh;
  padding-bottom: 4vh;
  transition: all ease 0.5s;
  /* background-color: rgba(0,0,0,40%); */
}

#slide2 {
  width: 100vw;

}

.konzept {
  margin: auto;
  width: 90vw;
}


p{
  font-family: Medium;
  color: white;
  font-size: 5.5vw;
  text-align: center;
  line-height: 110%;
}

h1{
  font-family: Windsor;
  color: black;
  font-size: 7vw;
  line-height: 105%;
}

a{
  color: white;
}

a:hover {
  color: blue;
}

#viewer {
  width: 100dvw;
  height: 100dvh;
  transition: all ease 1s;
}

#viewer.active {
  width: 100dvw;
  height: 100dvh;
  opacity: 50%;
  transition: all ease 1s;
}

#navbar {
  display: none;
}

#info {
  z-index: 100;
  position: absolute;
  bottom: 1.5vh;
  width: 100vw;
  overflow: hidden;
  opacity: 100;
  transition: all ease 2s;
}

#info.active {
  z-index: 100;
  position: absolute;
  bottom: 1.5vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  transition: none;
}


.hauab {
  opacity: 0;
}


.psv-navbar {
  display: none; 
}

.psv-loader {
  display: none;
}

#nav {
  z-index: 8;
  position: fixed;
  top: 1.5vh;
  right: -75vw;
  display: flex;
  transition: all ease 0.5s;
}

#nav.active {
  position: fixed;
  top: 1.5vh;
  right: 2.5vw;
  display: flex;
  transition: all ease 0.5s;
}

#button {
  top: 1.5vh;
  position: fixed;
  margin-left: 50vw;
  z-index: 10;
  background-color: #0000ff;
  color: white;
  transform: translate(-50%, 0);
  border-radius: 25vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  opacity: 100%;
  transition: all ease 0.5s;
}

#button2 {
  z-index: 10;
  background-color: #0000ff;
  color: white;
  border-radius: 25vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  transition: all ease 0.5s;
  margin-right: 1vw;
  transition: all ease 1s;
}

#button2 a {
  text-decoration: none;
}

#button2 a:hover{
  color: white;
}

#button3 {
  margin-left: auto;
  z-index: 10;
  background-color: #0000ff;
  color: white;
  border-radius: 25vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  transition: all ease 0.5s;
  transition: all ease 1s;
}

#button3 a {
text-decoration: none;
}

#button3 a:hover {
  color: white;
}


#button.active {
  top: 1.5vh;
  position: fixed;
  display: block;
  margin-left: 0vw;
  z-index: 10;
  background-color: #ff5100;
  transform: translate(2.5vw, 0);
  color: white;
  border-radius: 25vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  opacity: 100%;
  transition: all ease 0.5s;
}

/* #button:hover{
  background-color: white;
  color: blue;
  border: 1px solid white;
  transform: translate(-50%, 0);
  cursor: crosshair;
} */

/* #button:hover p{
  color: blue;
} */



}

@media screen and (min-width: 480px) {

  .show {
    margin-top: 100dvh;
    opacity: 0;
    transition: all ease 0.5s;
  }
  
  .hide {
    margin-top: -100dvh;
  }
  
  #slide {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    vertical-align: center;
    overflow: scroll;
    padding-top: 10vh;
    padding-bottom: 4vh;
    transition: all ease 0.5s;
    /* background-color: rgba(0,0,0,40%); */
  }
  
  #slide2 {
    width: 100vw;
  
  }
  
  .konzept {
    margin: auto;
    width: 75vw;
  }
  
  
  p{
    font-family: Medium;
    color: white;
    font-size: 2vw;
    text-align: center;
    line-height: 110%;
  }
  
  h1{
    font-family: Windsor;
    color: black;
    font-size: 3vw;
    line-height: 105%;
  }
  
  a{
    color: white;
  }
  
  a:hover {
    color: blue;
  }
  
  #viewer {
    width: 100vw;
    height: 100vh;
    transition: all ease 1s;
  }
  
  #viewer.active {
    width: 100vw;
    height: 100vh;
    opacity: 50%;
    transition: all ease 1s;
  }
  
  #navbar {
    display: none;
  }
  
  #info {
    z-index: 100;
    position: absolute;
    bottom: 1.5vh;
    width: 100vw;
    overflow: hidden;
    opacity: 100;
    transition: all ease 2s;
  }
  
  #info.active {
    z-index: 100;
    position: absolute;
    bottom: 1.5vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0;
    transition: none;
  }
  
  
  .hauab {
    opacity: 0;
  }
  
  
  .psv-navbar {
    display: none; 
  }
  
  .psv-loader {
    display: none;
  }
  
  #nav {
    z-index: 8;
    position: fixed;
    top: 1.5vh;
    right: -75vw;
    display: flex;
    transition: all ease 0.5s;
  }
  
  #nav.active {
    position: fixed;
    top: 1.5vh;
    right: 15vw;
    display: flex;
    transition: all ease 0.5s;
  }
  
  #button {
    top: 1.5vh;
    position: fixed;
    margin-left: 50vw;
    z-index: 10;
    background-color: #0000ff;
    color: white;
    transform: translate(-50%, 0);
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    opacity: 100%;
    transition: all ease 0.25s;
  }

  #button:hover {
    top: 1.5vh;
    position: fixed;
    margin-left: 50vw;
    z-index: 10;
    background-color: white;
    color: #0000ff;
    transform: translate(-50%, 0);
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    opacity: 100%;
  }

  #button:hover p {
    color: #0000ff;
    transition: all ease 0.25s;
  }
  
  #button2 {
    z-index: 10;
    background-color: #0000ff;
    color: white;
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-right: 1vw;
  }

  #button2:hover {
    z-index: 10;
    background-color: white;
    color: white;
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-right: 1vw;
  }
  
  #button2 a {
    text-decoration: none;
  }
  
  
  #button3 {
    margin-left: auto;
    z-index: 10;
    background-color: #0000ff;
    color: white;
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
  }

  #button3:hover {
    margin-left: auto;
    z-index: 10;
    background-color: white;
    color: white;
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  
  #button3 a {
  text-decoration: none;
  }
  
  
  #button.active {
    top: 1.5vh;
    position: fixed;
    display: block;
    margin-left: 10vw;
    z-index: 10;
    background-color: #ff5100;
    transform: translate(2.5vw, 0);
    color: white;
    border-radius: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    opacity: 100%;
    transition: all ease 0.25s;
  }
  
  
  
  }