@import "_reset.css";
@import "https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css";

@font-face {
  font-family: Medium;
  src: url(../assets/fonts/HelveticaNeue-Medium-11.woff) format("woff");
}

p{
  font-family: Medium;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

a{
  color: white;
}

a:hover{
  color: #3137df;
}

#viewer {
  width: 100vw;
  height: 100vh
}

#navbar {
  display: none;
}

#info {
  z-index: 100;
  position: fixed;
  width: 100vw;
  margin-top: 92vh;
}

.psv-navbar {
  display: none; 
}

.psv-loader {
  display: none;
  background-color: black;
}

.psv-background {
  color: black;
}

#button {
  top: 0.75em;
  position: fixed;
  display: block;
  margin-left: 50vw;
  z-index: 10;
  background-color: #3137df;
  color: white;
  transform: translate(-50%, 0);
  border-radius: 2em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  opacity: 100%;
}

#button:hover{
  background-color: white;
  color: #3137df;
  border: 1px solid white;
  transition: all 4ms;
  cursor: crosshair;
}

#button:hover p{
  color: #3137df;
}

